    page-eventos {
        // ion-icon{
        //   color: #eccc68;
        // }
        ion-content {
            background-image: url('../assets/imgs/fondoblanco2.png');
            background-repeat: no-repeat;
            background-size: cover;
            //background-position: center;
            width: 100%;
            position: relative;
            border: none;
            color: #f4f4f4;
        }
        .icon {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            //background: currentColor;
            width: 1em;
            height: 1em;
            margin-right: 8px;
        }
        // .menu{
        // //background:  #eccc68;
        //  color: #eccc68;
        // }
        ion-card .item {
            position: relative;
            text-align: center;
            width: 100%;
            border: none;
            margin-left: auto;
            margin-top: -15px;
        }
        .card_atras {
            background: #000;
        }
        .text {
            $toolbar-ios-title-text-color: #f4f4f4;
        }
        .btnshare {
            zoom: 70%;
        }
        .fabbtn {
            background-color: #000;
        }
        ion-fab-list {
            background-color: #000;
        }
        .card_atras {
            background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
            /* IE6-9 */
            // font-weight: bold;
            color: #fff;
            // margin-top: 30%;
        }
        ion-option {
            background-color: #000;
            color: #fff;
        }
        ion-select {
            background-color: #000;
        }
    }