page-corte-detalle-reservacion {

    .detalle {
        color: #cecece;
        margin-top: -8px;
        text-transform: uppercase;
    }

    .toolbar-background {
        background-image: url('../assets/imgs/proriat.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

}