page-corte-detalle-reservacion {

    .detalle {
        color: #cecece;
        margin-top: -8px;
        text-transform: uppercase;
    }

    .toolbar-background {
        background-image: url('../assets/imgs/proriat.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .card_atras {
        background: -moz-linear-gradient(top, rgb(228, 150, 2) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgb(228, 150, 2) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(228, 150, 2) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(68, 71, 75, 0.01) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
    }

    .blanco_1 {
        font-size: 25px;
        resize: none;
        color: #0000;
    }

    .blanco_2 {
        font-size: 15px;
        resize: none;
        color: #000;
    }
}