    page-admin-de-mon-user {
        .badge-md {
            border-radius: 10px;
            color: #fff;
            background-color: #000000;
        }
        .cate {
            height: 160px;
            width: 202px;
        }
        .badge-ios,
        badge-md {
            background-color: #000000;
        }
    }