<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>
            <ion-col col-1>
                <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon>
            </ion-col>
            <ion-col col-8>
                <ion-title>Historial de reservaciones</ion-title>
            </ion-col>
        </ion-row>

    </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page ">

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <p class="lugar">
                Historial de reservaciones
                <br>
                <img src="./assets/content/line-hori.png" style="width: 40%;" alt="">
            </p>
            <p class="descrip">
                Sucursal
            </p>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <div *ngIf="reservaciones.length >= 1">

        <!-- INICIA ION-ITEM PARA EL HISTORIAL DE LAS RESERVACIONES -->

        <ng-container>

            <ion-item *ngFor="let reservacion of reservaciones">

                <ion-avatar item-start>

                    <img src="{{ (reservacion.idUsuario | getNameUser | async)?.photoURL }}">

                </ion-avatar>

                <h2 style="text-transform: uppercase">
                    <ion-icon ios="ios-contact" md="md-contact" item-start style="color: #fcc04d"></ion-icon> Nombre:
                    <b>{{ (reservacion.idUsuario | getNameUser | async)?.displayName }}</b>
                </h2>

                <h3>
                    <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon> Fecha:
                    <b> {{ reservacion.fechaR | date: 'dd/MM/yyyy' }} </b>
                </h3>

                <p class="hora">
                    <ion-icon ios="ios-time" md="md-time" item-start style="color: #fcc04d"></ion-icon>Hora de
                    reservación: <b> {{ reservacion.hora }} </b>
                </p>
                <p class="hora" item-end>
                    <img src="./assets/content/Ellipse55.png" class="imgElli" alt=""> {{ reservacion.estatus }}
                </p>

                <ng-container *ngIf="reservacion.idevento != null">

                    <ng-container *ngFor="let event of infoEvento">

                        <ng-container *ngIf="reservacion.idevento == event.uid">

                            <p class="hora">
                                <ion-icon ios="ios-beer" md="md-beer" item-start style="color: #fcc04d"></ion-icon> {{
                                event.titulo }}
                            </p>

                        </ng-container>

                    </ng-container>

                </ng-container>

                <button ion-button block round class="btnDetalle" (click)="goDetalle(reservacion.idReservacion)">

                    Detalle

                </button>

            </ion-item>


        </ng-container>


    </div>

    <ion-list *ngIf="reservaciones.length == 0">

        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div>
            <div align="center">
                <img text-center class="adv2" src="./assets/content/advertencia.png" />
            </div>
            <p class="aviso">
                Aviso
            </p>
            <p class="momento">
                Por el momento no hay reservaciones.
            </p>
        </div>
    </ion-list>
</ion-content>