page-checklist {
  //Nuevo
  .toolbar-background {
    background-image: url("../assets/content/encabezado3.jpg") !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .borde {
    margin-top: 0em;
    color: #fd9530;
  }

  .Tools {
    color: #fff;
  }

  .sucursal {
    color: #fff;
    opacity: 0.8;
  }

  .imgLi {
    width: 2px;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .panel.active {
    padding: 0 0px;
    background-color: white;
    display: block;
    overflow: visible;
  }

  .titulo {
    text-align: start;
    font-weight: bolder;
    font-size: small;
  }

  .fecha {
    text-align: end;
    font-weight: bolder;
    font-size: small;
  }

  .tituloAdd {
    text-align: center;
    font-size: small;
    top: 1rem;
  }

  ion-item {
    padding-left: 0px !important;
  }

  ion-label {
    font-size: small;
  }

  ion-input {
    font-size: small;
  }

  ion-select {
    font-size: small;
  }

  ion-textarea {
    font-size: small;
  }

  .bgcolor {
    background: #cdcfd6;
  }

  .ion-col-t {
    border: 2px solid #aeb7ca;
  }

  .buttonPDF {
    text-align: start;
  }

  .textPDF {
    text-align: end;
    font-size: small;
    top: 1rem;
  }

  .toastDanger {
    .toast-wrapper {
      background-color: red;
    }
  }

  .subClass {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
  }

  .list-ios {
    margin: 0px;
  }

  .card-ios {
    margin: 0px 0px;
  }

  .cardIos {
    margin: 8px 0px;
  }
}
