page-admin-lee-qr {
    .fon {
        // background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        // /* FF3.6-15 */
        // background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        // /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        // /* IE6-9 */
        color: #000;
        margin-right: -1.2em;
        margin-left: 0%;
        margin-top: 0%;
        h1,
        h2,
        p,
        b {
            color: #000;
        }
    }

    .toolbar-background {
        background-image: url('../assets/content/encabezado3.jpg')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        // height: 75%;
    }

    .borde {
        margin-top: 0em;
    }

    .AdminEvento {
        color: #fff;
    }

    .sucursal {
        color: #fff;
        opacity: 0.8;
    }

    .fondo_admin{
        background-color: #fff;
    }

    .titulo{
        color: #FD9530;
        font-weight: bold;  
        text-align: center;
    }

    .url {
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 40px;
    }

    .imagen_perfil {
        height: 9rem;
        width: 9rem;
        margin-top: 0px;
        margin-bottom: 10px;
        border-radius: 50%;
    }

    .nombre {
        text-align: center;
        font-size: x-large;
        text-transform: uppercase;
    }

    .imgElli {
        width: 5%;
    }
}