<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row
            *ngIf="_userAdmin?.type == 'coordinacion' || _userAdmin?.type == 'rp' || _userAdmin?.type == 'capitan_mesero'">
            <ion-col col-1 align="center">
                <!-- <ion-icon *ngIf="_sucursal?.type == 'e'" name="ios-arrow-back-outline" (click)="behindMaster()"
                    style="color:white;"></ion-icon> -->

            </ion-col>
            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>
                <div class="AdminEvento">Administrador de Reservaciones</div>
                <div class="sucursal">Sucursal</div>
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
        <!--Termina. Esta información solo la muestra a usuarios=maestro -->
    </ion-navbar>
</ion-header>

<ion-content class="">

    <ion-fab right top>
        <button ion-fab color="primary" (click)="behind()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon>
        </button>
    </ion-fab>

    <ion-grid>
        <ion-row>

            <ion-col>

                <ion-list>

                    <div *ngIf="_userAdmin?.type == 'e'">

                        <ion-item>

                            <ion-avatar item-start>
                                <img [src]="_sucursal?.photoURL">
                            </ion-avatar>
                            <h2 style="text-transform: uppercase">

                                {{ _sucursalEmpleado?.displayName }}

                            </h2>

                        </ion-item>

                    </div>

                    <div *ngIf="_sucursal?.type == 'a'">

                        <ion-item>

                            <ion-avatar item-start>
                                <img [src]="_sucursal?.photoURL">
                            </ion-avatar>
                            <h2 style="text-transform: uppercase">

                                Control de <b>{{ _sucursalEmpleado?.displayName }}</b>

                            </h2>

                        </ion-item>

                    </div>

                </ion-list>

            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-row>

        <ion-col col-4></ion-col>

        <ion-col col-4 align="center">
            <img src="./assets/imgs/logo-negro.png" alt="">
        </ion-col>

        <ion-col col-4>
            <!-- TAL VEZ UN CERRAR SESION             -->
        </ion-col>

    </ion-row>

    <ion-card padding>

        <div *ngIf="_userAdmin?.type == 'master'">

            <div align="center">

                <img class="imagen_perfil" src="../assets/imgs/icons/home-03.png" />

            </div>
            <br>
            <div align="center">

                <ion-icon ios="ios-list" md="md-list" item-start style="color: #FD9530"></ion-icon>
                <font size="3" color=""> <b> Admon. General </b></font>

            </div>
            <br>
            <ion-item (click)="goSucursal()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Administrar sucursales
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goCupones()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Administrar cupones
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goCiudades()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Administrar ciudades
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goConsumoList()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Consumos
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goReembolso()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Administrar reembolsos
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

        </div>

        <div
            *ngIf="_sucursal?.type == 'a' || _userAdmin?.type == 'e' || _userAdmin?.type == 'rp' || _userAdmin?.type == 'coordinacion'">

            <div align="center">

                <img class="imagen_perfil" src="../assets/imgs/icons/home-03.png" />

            </div>

            <br>

            <div align="center">

                <ion-icon ios="ios-list" md="md-list" item-start style="color: #FD9530"></ion-icon>
                <font size="3" color=""> <b> Accesos para administrar </b></font>

            </div>

            <ion-item (click)="goMonitorear()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Monitoreo de reservaciones
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="adminReservaciones()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->

                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Gestión de reservaciones
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item *ngIf="_userAdmin.type == 'a' || _userAdmin.type == 'coordinacion'" (click)="goReservacionHistorial()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Historial de reservaciones
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goCodigoRp()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <ion-avatar item-start>

                    <img class="imgRes4" src="./assets/content/icono3.png">

                </ion-avatar>

                Código de reservacion
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>



        </div>

    </ion-card>


</ion-content>