<ion-header>

  <ion-navbar class="borde" hideBackButton>
    <ion-row>
      <ion-col col-1 align="center">
        <!-- <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white">
        </ion-icon> -->
      </ion-col>


      <ion-col col-1 align="center">
        <img src="./assets/content/line2.png" class="imgLi" alt="">
      </ion-col>
      <ion-col col-8>
        <div class="AdminEvento">Detalle de Reservación</div>
        <div class="sucursal">Sucursal</div>
      </ion-col>
      <ion-col>
        <div align='end'>
          <img src="./assets/content/corona.png" style="width: 40%;" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-fab right top *ngIf="usuarioMaster == null && reembolso == null">
    <button ion-fab color="primary" (click)="behind()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right top *ngIf="usuarioMaster != null">
    <button ion-fab color="primary" (click)="cerrar_modal()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right top *ngIf="reembolso != null">
    <button ion-fab color="primary" (click)="cerrar_modal()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon>
    </button>
  </ion-fab>

  <br>

  <ion-row>

    <ion-col col-2></ion-col>

    <ion-col col-8>

      <p class="nombre">

        {{ (reservaciones.idUsuario | getNameUser | async)?.displayName }}

        <img *ngIf="reservaciones.estatus == 'Aceptado'" src="./assets/content/Ellipse55.png" class="imgElli" alt="">
        <img *ngIf="reservaciones.estatus == 'Cancelado'" src="./assets/content/Ellipse43.png" class="imgElliC" alt="">

      </p>

      <p style="font-size: x-large; text-align: center;">
        <a [href]="(reservaciones.idUsuario | getNameUser | async)?.instagram" style="text-transform: uppercase">
          <ion-icon ios="logo-instagram" md="logo-instagram" style="color: #fcc04d"></ion-icon>
        </a>
      </p>

      <h6 text-center *ngIf="this.reservaciones.idevento" class="nombreE">

        ({{ (reservaciones.idevento | getNameEvento | async)?.titulo }})

      </h6>

    </ion-col>

    <ion-col col-2></ion-col>

  </ion-row>

  <hr>

  <br>

  <div align="center">

    <ion-icon ios="ios-list" md="md-list" item-start style="color: #fcc04d"></ion-icon>
    <font size="2" color="#474646"> <b> DETALLES DE LA RESERVACIÓN </b></font>

  </div>

  <br>

  <ion-list>

    <!-- UID RESERVACION -->

    <ion-item>

      <ion-icon ios="ios-key" md="md-key" item-start style="color: #fcc04d"></ion-icon>

      UID reservación

      <ion-note item-end>

        {{ reservaciones.idReservacion }}

      </ion-note>

    </ion-item>

    <!-- FOLIO RESERVACION -->

    <ion-item>

      <ion-icon ios="ios-folder-open" md="md-folder-open" item-start style="color: #fcc04d"></ion-icon>

      Folio reservación

      <ion-note item-end>

        {{ reservaciones.folio }}

      </ion-note>

    </ion-item>

    <!-- FECHA RESERVACION -->

    <ion-item>

      <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon>

      Fecha reservación

      <ion-note item-end>

        {{ reservaciones.fechaR | date : 'dd/MM/yyyy' }}

      </ion-note>

    </ion-item>

    <!-- HORA RESERVACION -->

    <ion-item>

      <ion-icon ios="ios-clock" md="md-clock" item-start style="color: #fcc04d"></ion-icon>

      Hora reservación

      <ion-note item-end>

        {{ reservaciones.hora }}

      </ion-note>

    </ion-item>

    <!-- CODIGO RP -->

    <ion-item>

      <ion-icon ios="ios-keypad" md="md-keypad" item-start style="color: #fcc04d"></ion-icon>

      Código RP usado

      <ion-note item-end>

        {{ reservaciones.codigoRP }}

      </ion-note>

    </ion-item>

    <!-- NOMBRE RP -->

    <ion-item>
      <ion-icon ios="ios-body" md="md-body" item-start style="color: #fcc04d"></ion-icon>
      Nombre RP
      <ion-note item-end>{{ (uidRp | getNameUser | async)?.displayName }}</ion-note>
    </ion-item>

    <!-- MESA -->

    <ion-item>

      <ion-icon ios="ios-grid" md="md-grid" item-start style="color: #fcc04d"></ion-icon>

      Mesa

      <ion-note item-end>

        {{ reservaciones.numMesa }}

      </ion-note>

    </ion-item>

    <!-- PERSONAS -->

    <ion-item>

      <ion-icon ios="ios-people" md="md-people" item-start style="color: #fcc04d"></ion-icon>

      Número de personas

      <ion-note item-end>

        {{ reservaciones.numPersonas }}

      </ion-note>

    </ion-item>

    <!-- ZONAS -->

    <ion-item>

      <ion-icon ios="ios-keypad" md="md-keypad" item-start style="color: #fcc04d"></ion-icon>

      Zona

      <ion-note item-end>

        {{ (reservaciones.idZona | getNameZona | async)?.nombre }}

      </ion-note>

    </ion-item>

  </ion-list>

  <hr>

  <br>

  <!-- Cover  -->

  <div align="center" *ngIf="totalCover != 0">

    <ion-icon ios="ios-list" md="md-list" item-start style="color: #fcc04d"></ion-icon>
    <font size="2" color="#474646"> <b> Cover</b></font>

    <br>

  </div>

  <ion-grid *ngIf="totalCover != 0">

    <ion-row class="header-row">
      <ion-col><b></b></ion-col>

      <ion-col><b>No. Personas</b></ion-col>

      <ion-col><b>Costo</b></ion-col>

      <ion-col><b>Total cover</b></ion-col>

    </ion-row>

    <ion-row *ngFor="let pro of productos">

      <ion-col></ion-col>

      <ion-col>{{ noPersonas }} </ion-col>

      <ion-col> {{ cover | currency }} </ion-col>

      <ion-col> {{ totalCover | currency }} </ion-col>

    </ion-row>

  </ion-grid>

  <!-- /Cover -->

  <br>

  <!-- PRODUCTOS -->

  <div align="center">

    <ion-icon ios="ios-list" md="md-list" item-start style="color: #fcc04d"></ion-icon>
    <font size="2" color="#474646"> <b> PRODUCTOS DE LA RESERVACIÓN </b></font>

    <br>

  </div>

  <div align="center">

    <ion-grid>

      <ion-row class="header-row">
        <ion-col><b>Producto</b></ion-col>

        <ion-col><b>Cantidad</b></ion-col>

        <ion-col><b>Costo</b></ion-col>

        <ion-col><b>Total</b></ion-col>

      </ion-row>

      <ion-row *ngFor="let pro of productos">

        <ion-col>{{ pro.producto }}</ion-col>

        <ion-col>{{ pro.cantidad }} </ion-col>

        <ion-col>{{ pro.costo | currency }}</ion-col>

        <ion-col>{{ pro.total | currency }} </ion-col>

      </ion-row>

      <div *ngIf="validarCupon=='Noexiste'">



        <!-- TOTAL RESERVACIÓN -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Subtotal</b></ion-col>
          <ion-col><b> {{ total_final | currency}} </b></ion-col>
        </ion-row>

        <!-- COMISION 5.9 -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>Comision</ion-col>
          <ion-col>{{ comision | currency}}</ion-col>
        </ion-row>

        <!-- IVA -->
        <!-- <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>IVA</ion-col>
          <ion-col>{{ iva | currency}}</ion-col>
        </ion-row> -->

        <!-- PROPINA -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>Propina</ion-col>
          <ion-col>{{ propinaRe2 | currency }}</ion-col>
        </ion-row>
        <!-- TOTAL -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Total</b></ion-col>
          <ion-col>
            <b>{{totalNeto | currency}}
            </b>
          </ion-col>
        </ion-row>

        <!-- TOTAL REEMBOLSO -->
        <ion-row *ngIf="reembolso == 'Reem'">
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Total a reembolsar a cliente</b></ion-col>
          <ion-col>
            <b>{{restaReembolso | currency}}
            </b>
          </ion-col>
        </ion-row>

        <!-- TOTAL REEMBOLSO guest -->
        <ion-row *ngIf="reembolso == 'Reem'">
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Total del reembolso para guest</b></ion-col>
          <ion-col>
            <b>{{totalReembolso | currency}}
            </b>
          </ion-col>
        </ion-row>

      </div>

      <!-- CON CUPON -->
      <div *ngIf="validarCupon=='Existe'">

        <!-- <div *ngFor="let cup of cupones"> -->


        <!-- CUPON DESCUENTO -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>Cupón</ion-col>
          <ion-col>-{{ valorCupon | currency }}</ion-col>
        </ion-row>

        <!-- TOTAL CON DESCUENTO  -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Subtotal</b></ion-col>
          <ion-col><b>{{ reservaciones.totalReservacion | currency }}</b></ion-col>
        </ion-row>

        <!-- Comision 5.9  -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>Comision 5.9</ion-col>
          <ion-col>{{ comision | currency }}</ion-col>
        </ion-row>

        <!-- IVA  -->
        <!-- <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>IVA</ion-col>
          <ion-col>{{ iva | currency }}</ion-col>
        </ion-row> -->

        <!-- PROPINA -->
        <ion-row>
          <ion-col><b></b></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col>Propina</ion-col>
          <ion-col>{{ propinaRe | currency }}</ion-col>
        </ion-row>

        <!-- Total  -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Total</b></ion-col>
          <ion-col>
            <b>{{ totalNeto | currency}}</b>
          </ion-col>
        </ion-row>

        <!-- TOTAL REEMBOLSO -->
        <ion-row *ngIf="reembolso == 'Reem'">
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Total a reembolsar</b></ion-col>
          <ion-col>
            <b>{{restaReembolso | currency}}
            </b>
          </ion-col>
        </ion-row>

        <!-- TOTAL REEMBOLSO guest -->
        <ion-row *ngIf="reembolso == 'Reem'">
          <ion-col></ion-col>
          <ion-col><b></b></ion-col>
          <ion-col><b>Total del reembolso para guest</b></ion-col>
          <ion-col>
            <b>{{totalReembolso | currency}}
            </b>
          </ion-col>
        </ion-row>

        <!-- </div> -->

      </div>

    </ion-grid>

  </div>

  <hr>

  <br>
  <div *ngIf="infoReserCom_num != 0">

    <div align="center">

      <ion-icon ios="ios-list" md="md-list" item-start style="color: #fcc04d"></ion-icon>
      <font size="2" color="#474646"> <b> COMPARTIDA ENTRE</b> </font>

      <br>

    </div>

    <br>

  </div>

  <!-- <div *ngIf="compartidas.telefono == ( (reservaciones.idUsuario | getNameUser | async)?.phoneNumber)"> -->

  <div *ngFor="let compartidas of cuentasCompartidas" padding>

    <ion-row>

      <ion-col>

        <ion-icon ios="ios-contact" md="md-contact" item-start style="color: #fcc04d"></ion-icon>&nbsp; {{
        (compartidas.telefono | getNamexphoneUser | async)?.displayName }}

      </ion-col>

      <ion-col>
        <ion-icon ios="ios-call" md="md-call" item-start style="color: #fcc04d"></ion-icon>&nbsp; {{
        compartidas.telefono }}
      </ion-col>

      <ion-col>
        <p style="font-size: x-large; text-align: center;">
          <a [href]="(reservaciones.idUsuario | getNameUser | async)?.instagram" style="text-transform: uppercase">
            <ion-icon ios="logo-instagram" md="logo-instagram" style="color: #fcc04d"></ion-icon>
          </a>
        </p>
      </ion-col>

      <ion-col>

        <ion-note item-end>

          <div *ngIf="reembolso != 'Reem'">

            {{ compartidas.estatus }}

            <p *ngIf="compartidas.estatus_escaneo == 'NO'">
              <ion-icon ios="ios-close-circle" md="md-close-circle" item-start style="color: #F44336"></ion-icon>
            </p>

            <p *ngIf="compartidas.estatus_escaneo != 'NO'">
              <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" item-start
                style="color: #CDDC39"></ion-icon>
            </p>

          </div>


          <p *ngIf="reembolso == 'Reem'">Para cliente {{ restaReembolso / infoReserCom_num | currency }}</p>

        </ion-note>

      </ion-col>

    </ion-row>

    <hr>

  </div>

  <button *ngIf="reembolso == 'Reem'" ion-button block
    (click)="functionReembolsar(reservaciones.playerIDs, reservaciones.idReservacion)">Reembolsar {{ restaReembolso |
    currency
    }}</button>

</ion-content>