<ion-header>
  <ion-navbar hideBackButton>
    <ion-row>

      <ion-col col-2>
        <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon>

      </ion-col>
      <ion-col col-6>
        <ion-title>Cupones</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-col col-5>
    <h2>
      <b>Master</b>
      <div class="detalle">Cupones de sucursales</div>
    </h2>
  </ion-col>
  <ion-card-header class="marg" color="light">
    <button (click)="agregarCupon()" text-align ion-button clear small color="light" icon-left item-end>
      <ion-icon name="add" class="colorIcon" style="zoom:1.1;"></ion-icon>
      <font color="black" style="opacity: .5;"> Agregar cupones a una sucursal</font>
    </button>
  </ion-card-header>
  <ion-list clxass="" *ngFor="let sucursal of sucursales">
    <ion-card>
      <ion-item style="border: none;">
        <ion-thumbnail item-start>
          <img [src]="sucursal.photoURL" style="border-radius:250px ;">
          <h2 style="text-align: center">{{sucursal.displayName}}</h2>
        </ion-thumbnail>
        <ion-badge (click)="cuponesDisponibles(sucursal.uid)" text-align color="naranja" item-end>
          Ver cupones disponibles
        </ion-badge>
        <!--<div *ngFor="let cupon of cupones">-->
        <!-- <div *ngIf="cupon.idSucursal == sucursal.uid">-->
        <!--<div *ngIf="cupon.estatus == 'Activo'">-->
        <!--  <ion-badge color="naranja" item-end>
                    Cupón de descuento {{ cupon.valorCupon | currency }}
                    <br>
                    Código {{ cupon.codigoCupon }}
                    <br>
                    <ion-badge color="light"> Disponibles {{ cupon.numCupones }}</ion-badge>
                    <br>
                    <ion-badge color="dark">{{ cupon.estatus }}</ion-badge>
                  </ion-badge>-->
        <!--  </div>-->
        <!-- </div>-->
        <!--</div>-->
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>