<ion-header>
    <ion-navbar>
        <!-- <ion-title>Modificar Área y Zona</ion-title> -->
    </ion-navbar>
</ion-header>

<ion-content class="">

    <div class="divBtn">
        <a   (click)="closeModal()">X
            <!-- <ion-icon item-right name="ios-close-outline"></ion-icon> -->
        </a>
    </div>

    <div class="style1">
        <ion-row>
            <ion-col text-center> <font color="black">  Zonas</font>
               
            </ion-col>
            <ion-col text-center>
                <ion-item>
                    <ion-select [(ngModel)]="zona"  >
                        
                        <div *ngFor="let zona of zonas">
                            <ion-option  *ngIf=" zona.$key == idZona" selected="true" value="{{zona.$key}}">{{zona.nombre}}</ion-option>
                            <ion-option  *ngIf=" zona.$key != idZona" value="{{zona.$key}}">{{zona.nombre}}</ion-option>
                        </div>

                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>

    <button ion-button class="btnModal" color="warning" (click)="saveData()">Actualizar</button>

    
<!-- 
    <ion-col text-center>
        <ion-item>
            <ion-label>Área</ion-label>
            <ion-select [(ngModel)]="data.area" multiple="false" >
                <div>
                    <ion-option *ngFor="let zona of zonas" value="{{zona.$key}}">{{ zona.nombre }}
                        </ion-option>
                </div>
            </ion-select>
        </ion-item>
    </ion-col> -->
    

    <form [formGroup]="myForm" novalidate class="card_atras">
        <!-- <div class="style1">
            <ion-row>
                <ion-col text-center>
                    Área
                </ion-col>
                <ion-col text-center>
                    <ion-item>
                        <ion-label>Área</ion-label>
                        <ion-select [(ngModel)]="data.area" multiple="false" cancelText="Cancelar" okText="Aceptar" name="area" formControlName="area" (ionChange)=getZonas()>
                            <div>
                                <ion-option *ngFor="let area of areas" value="{{area.$key}}">{{area.nombre}}</ion-option>
                            </div>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div> -->
        <!-- <div class="style1">
            <ion-row>
                <ion-col text-center>
                    Zona
                </ion-col>
                <ion-col text-center>
                    <ion-item>
                        <ion-label>Zona</ion-label>
                        <ion-select [(ngModel)]="data.zona" multiple="false" cancelText="Cancelar" okText="Aceptar" name="zona" formControlName="zona" (ionChange)=alertConsumo()>
                            <div>
                                <ion-option *ngFor="let zona of zonas" value="{{zona.$key}}">{{ zona.nombre }}
                                </ion-option>
                            </div>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div> -->
    </form>

</ion-content>