page-admin-sucursal-editperfil-imagen {
    .AdminEvento {
        color: #000;
    }
    .sucursal {
        color: #000;
        opacity: 0.8;
    }
    .toolbar-background {
        background-image: url('../assets/imgs/proriat.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .borde {
        margin-top: 0%;
        border-bottom: #e49602 1px solid;
        //color: #e49602;
    }
}