<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col col-1>
                <!-- <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon> -->
            </ion-col>

            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>
                <div class="AdminEvento">Historial de Cortes </div>
                <div class="sucursal">Sucursal</div>
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-fab right top>
        <button ion-fab color="primary" (click)="behind()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon>
        </button>
    </ion-fab>

    <ion-col col-5>
        <h2>
            <b>Historial</b>
            <div class="detalle">Cortes de servicio</div>
        </h2>
    </ion-col>
    <hr>

    <ion-list>
        <button ion-item *ngFor="let corte of cortesList" (click)="ocultarAction()">
            <ion-icon ios="ios-cut" md="md-cut"></ion-icon>
            Corte de la fecha: <strong>{{ corte.fechaCaptura?.seconds * 1000 | date: 'dd-MM-yyyy' }}</strong>
            <ng-container *ngIf="ocultar">
                <ion-card>
                    <ion-card-content class="">

                        <ion-item class="card_atras">
                            <a class="blanco_2"> Subtotal</a>
                            <h4 class="blanco_1"></h4>
                            <ion-badge class="negro" item-end> {{ corte.subTotal | currency}}</ion-badge>
                        </ion-item>

                        <ion-item class="card_atras">
                            <a class="blanco_2"> Comisiones</a>
                            <h4 class="blanco_1"></h4>
                            <ion-badge class="negro" item-end> {{ corte.comision | currency }}</ion-badge>
                        </ion-item>

                        <ion-item class="card_atras">
                            <a class="blanco_2">IVA</a>
                            <h4 class="blanco_1"></h4>
                            <ion-badge class="negro" item-end> {{ corte.iva | currency }} </ion-badge>
                        </ion-item>

                        <ion-item class="card_atras">
                            <a class="blanco_2">Propinas</a>
                            <h4 class="blanco_1"></h4>
                            <ion-badge class="negro" item-end> {{ corte.propina | currency }} </ion-badge>
                        </ion-item>

                        <ion-item class="card_atras">
                            <a class="blanco_2">Total neto</a>
                            <h4 class="blanco_1"></h4>
                            <ion-badge class="negro" item-end> {{ corte.totalNeto | currency }} </ion-badge>
                        </ion-item>

                        <br>

                    </ion-card-content>
                </ion-card>
            </ng-container>
        </button>

    </ion-list>



</ion-content>