<ion-header>

    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col col-1>
                <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon>
                  </ion-col>

            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>
                <div class="AdminEvento">Reservaciones próximas</div>
                <div class="sucursal">Sucursal</div>
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-fab right top>
        <button ion-fab color="primary" (click)="behind()"><ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon></button>
    </ion-fab>

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <p class="lugar">
                Monitoreo de reservaciones
                <br>
                <img src="./assets/content/line-hori.png" style="width: 40%;" alt="">
            </p>
            <p class="descrip">
                Sucursal
            </p>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <!-- INICIA ION LIST DE LAS RESERVACIONES NORMALES -->

    <ng-container>

        <ion-item *ngFor="let reservacion of reservaciones">

            <ion-avatar item-start>

                <img src="{{ (reservacion.idUsuario | getNameUser | async)?.photoURL }}">

            </ion-avatar>

             <h2 style="text-transform: uppercase"> <ion-icon ios="ios-contact" md="md-contact" item-start style="color: #fcc04d"></ion-icon> Nombre: <b>{{ (reservacion.idUsuario | getNameUser | async)?.displayName }}</b> </h2>

            <h3>
                <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon>  Fecha: <b> {{ reservacion.fechaR | date: 'dd/MM/yyyy' }} </b> 
            </h3>

            <p class="hora">
                <ion-icon ios="ios-time" md="md-time" item-start style="color: #fcc04d"></ion-icon>Hora de reservación: <b> {{ reservacion.hora }} </b>
            </p>
            <p class="hora" item-end>
                <img src="./assets/content/Ellipse55.png" class="imgElli" alt=""> {{ reservacion.estatus }} 
            </p>

            <ng-container *ngIf="reservacion.idevento != null">

                <ng-container *ngFor="let event of infoEvento">

                    <ng-container *ngIf="reservacion.idevento == event.uid">

                        <p class="hora"> <ion-icon ios="ios-beer" md="md-beer" item-start style="color: #fcc04d"></ion-icon> {{ event.titulo }} </p>

                    </ng-container>

                </ng-container>

            </ng-container>

            <button ion-button block round class="btnDetalle" (click)="goDetalle(reservacion.idReservacion)">

                Detalle

            </button>

        </ion-item>

    </ng-container>

       


    <!-- TERMINA ION LIST DE LAS RESERVACIONES NORMALES-->

    
    <!-- INICIA ION LIST DE LAS RESERVACIONES COMPARTIDAS -->

    <ng-container>

        <ion-item *ngFor="let reservaciona of reservacionesAcep">

            <ion-avatar item-start>

                <img src="{{ (reservaciona.idUsuario | getNameUser | async)?.photoURL }}">

            </ion-avatar>

             <h2 style="text-transform: uppercase"> <ion-icon ios="ios-contact" md="md-contact" item-start style="color: #fcc04d"></ion-icon> Nombre: <b>{{ (reservaciona.idUsuario | getNameUser | async)?.displayName }}</b> </h2>

            <h3>
                <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon>  Fecha: <b> {{ reservaciona.fechaR | date: 'dd/MM/yyyy' }} </b> 
            </h3>

            <p class="hora">
                <ion-icon ios="ios-time" md="md-time" item-start style="color: #fcc04d"></ion-icon>Hora de reservación: <b> {{ reservaciona.hora }} </b>
            </p>
            <p class="hora" item-end>
                <img src="./assets/content/Ellipse55.png" class="imgElli" alt=""> {{ reservaciona.estatus }} 
            </p>
            
            <ng-container *ngIf="reservaciona.idevento != null">

                <ng-container *ngFor="let event of infoEvento">

                    <ng-container *ngIf="reservaciona.idevento == event.uid">

                        <p class="hora"> <ion-icon ios="ios-beer" md="md-beer" item-start style="color: #fcc04d"></ion-icon> {{ event.titulo }} </p>

                    </ng-container>

                </ng-container>

            </ng-container>

            <button ion-button block round class="btnDetalle" (click)="goDetalle(reservacionaa.idReservacion)">

                Detalle

            </button>

        </ion-item>

    </ng-container>

       


    <!-- TERMINA ION LIST DE LAS RESERVACIONES COMPARTIDAS-->

   
    <ion-fab right bottom>
        <button *ngIf="menu != 'menu'" ion-fab color="dark" (click)="scan()">
            <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
        </button>
    </ion-fab>
</ion-content>