<ion-header>
  <ion-navbar>
    <ion-title>Código del día</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ng-container *ngIf="this.tpye == 'rp'">

    <div align="center">

      <img src="../assets/imgs/logo-negro.png" alt="">

    </div>

    <ng-container *ngFor="let codigo of codigos">

    <ion-card class="color1">
      <br>
      <ion-row>
        <ion-col col-12 text-center>
          <ion-row>

            <ion-col col-12>

              <div text-center>

                <div align="center">

                  <img class="imagen_perfil" src="{{ (codigo.uidRp | getNameUser | async)?.photoURL }}" />

                </div>

              </div>

            </ion-col>

            <ion-col col-12>
              <b style="text-transform: uppercase">{{ (codigo.uidRp | getNameUser | async)?.displayName }}</b>
              <p style="font-size: 9px;">(RP)</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row><br>

      <hr size="50px">
      <br>
      <ion-row>
        <ion-col col-12 text-center>
          <ion-row>
            <ion-col col-4>

              <ion-icon ios="ios-barcode" md="md-barcode" item-start style="color: #fcc04d"></ion-icon> <b> Sucursal</b>

            </ion-col>
            <ion-col col-4>

              <ion-icon ios="ios-code-download" md="md-code-download" item-start style="color: #fcc04d"></ion-icon><b>Código RP</b>

            </ion-col>
            <ion-col col-4>

              <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon><b> Fecha del alta código</b>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-4>
              {{ (codigo.uidSucursal | getNameUser | async)?.displayName }}
            </ion-col>

            <ion-col col-4>
              <h2><b>{{ codigo.codigo }}</b></h2>
            </ion-col>

            <ion-col col-4>
              {{ codigo.fecha | date : 'dd/MM/yyyy' }}
            </ion-col>
            
          </ion-row>

          <ion-row>

            <br>
            <br>
            <ion-col col-12 text-center>

              <br>
              <button ion-button block round class="btnDetalle" (click)="copyText()">Copiar código</button>
            </ion-col>
            <br>
          </ion-row>
        </ion-col>
      </ion-row>
      <br>
    </ion-card>

  </ng-container>

  </ng-container>


  <div *ngFor="let sucursal of sucursales">

    <div *ngIf="sucursal.type == 'a'">

      <div>

        <div class="fondo">

          <ion-searchbar placeholder="Buscar" [animated]="true" (ionInput)="getItems($event)"></ion-searchbar>

          <ion-segment selectedIndex="1" [(ngModel)]="user">

          </ion-segment>

        </div>

        <div align="center">

          <img src="../assets/imgs/logo-negro.png" alt="">

        </div>

      </div>
      <br>

      <div *ngFor="let admin of admins">

        <ion-list class="descripcion">

          <div *ngIf="sucursal.type == 'a'" (click)="selectUsuario(admin.uid, admin.active)">

            <ion-list>

              <ion-item>

                <ion-avatar item-start>

                  <img src="{{ admin.photoURL }}">

                </ion-avatar>

                <h2>
                  <ion-icon ios="ios-person" md="md-person" item-start style="color: #fcc04d"></ion-icon>
                  <b>{{ admin.displayName }}</b>
                  <ng-container *ngIf="admin.type == 'rp'">(RP)</ng-container>
                </h2>

                <ng-container *ngFor="let codigoRp of codigosRps">

                  <div *ngIf="admin.uid == codigoRp.uidRp">

                    <ion-icon ios="ios-barcode" md="md-barcode" item-start style="color: #fcc04d"></ion-icon><b>{{
                      codigoRp.codigo }}</b>
                    <br>

                    <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon> {{
                    codigoRp.fecha | date }}

                  </div>

                </ng-container>

                <p class="hora" item-end>
                  <img src="./assets/content/Ellipse55.png" class="imgElli" alt=""> Status
                </p>

              </ion-item>

            </ion-list>


          </div>

        </ion-list>
        <br>
      </div>

    </div>

  </div>

</ion-content>