page-administrar-reservaciones {
    
     
    .toolbar-background {
        background-image: url('../assets/imgs/proriat.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .card {
        // width: 35%;
        margin-left: -1%;
        margin-top: 0%;
        height: auto;
        background-color: #ffffff;
        display: inline-block;
        // margin: 0%;
    }
    .AdminEvento {
        color: #fff;
    }

    .sucursal {
        color: #fff;
        opacity: 0.8;
      
    }
    .button-ios{
        background-color: #FD9530 !important;
    }

    .color1{
        background: #fafafa !important;
        color: #fafafa !important;
        background-color: #fafafa !important;
    }
        .colorBlanco{
            
            color: #ffffff !important;
    
        }
    // .header {
    //     color: #ffffff;
    //     font-size: 2.5rem;
    // }
    .col {
        padding: 0%;
        color: #000;
    }
    .borde {
        margin-top: 0em;
        color: #fff;
    }
    .imgLi {
        width: 2px;
    }

    .cl1 {
        border: none;
        background: #FD9530;
        color: #fff;
      
        margin-left:40px;
        border-radius: 25px;
         position: absolute;
       width:18px;
       height: 18px;
    }


    .cl2 {
        border: none;
        background: #FD9530;
        color: #fff;
      
        margin-left:40px;
        // border-radius: 25px;
         position: absolute;
       width:18px;
       height: 18px;
    }

    .panelReserv {
        width: 65%;
        height: auto;
        // background-color: aqua;
        margin-right: -1%;
        float: right;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    .espacio {
        padding-bottom: 5px;
    }
    .row1 {
        padding-left: 15px;
        padding-top: 15px;
    }
    .col1 {
        padding-left: 15px;
        padding-top: 15px;
        font-size: 30px;
    }
    .icono {
        zoom: 2.0;
    }
    .pad {
        padding-right: 2%;
    }
    .title {
        font-size: 3.5rem;
        color: #ffffff;
        padding-left: 15px;
    }
    .title2 {
        font-size: 2.1rem;
        color: #ffffff;
    }
    .title3 {
        font-size: 1.8rem;
        color: #ffffff;
        // padding-left: 25px;
        padding-top: 15px;
    }

    .btn{
        background-color: gold;
    }

    #imgS{
        max-width:90%;
      }
}