<ion-header>
    <ion-navbar hideBackButton>
        <ion-row>

            <ion-col col-1>
                <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon>
            </ion-col>
            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>
                <div class="AdminEvento">Reservaciones</div>
                <div class="sucursal">Sucursal</div>
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content style="background-color: white;" padding>

    <ion-fab right top>
        <button ion-fab color="primary" (click)="behind()"><ion-icon ios="ios-arrow-back" md="md-arrow-back" style="color: #000000"></ion-icon></button>
    </ion-fab>

    <div>
        <label for="">
            <font style="opacity: .6;">ACEPTADO / RESERVACIONES ENTRANTES</font>
        </label>
    </div>
    <hr>
    <br>
    <div *ngFor="let reservacion of reservaciones">

        <div *ngIf="reservacion.estatus == 'Creando'" class="espacio">

            <div class="loader"></div>

            <ion-card class="color1">
                <br>
                <ion-row>
                    <ion-col col-12 text-center>
                        <ion-row>

                            <ion-col col-12>

                                <div text-center>

                                    <!-- <ion-icon style="font-size: 4.5rem; color: #FFC149;" ios="ios-person"
                                            md="md-person"></ion-icon> -->

                                    <div align="center">

                                        <img class="imagen_perfil" src="{{ (reservacion.idUsuario | getNameUser | async)?.photoURL }}" />

                                    </div>

                                </div>

                            </ion-col>

                            <ion-col col-12>
                                <b style="text-transform: uppercase">{{ (reservacion.idUsuario | getNameUser | async)?.displayName }}</b>
                                <p style="font-size: 9px;">(Reservación tipo normal)</p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row><br>

                <hr size="50px">
                <br>
                <ion-row>
                    <ion-col col-12 text-center>
                        <ion-row>
                            <ion-col col-4>

                                <ion-icon ios="ios-time" md="md-time" item-start style="color: #fcc04d"></ion-icon> <b> Hora</b>

                            </ion-col>
                            <ion-col col-4>

                                <ion-icon ios="ios-checkmark" md="md-checkmark" item-start style="color: #fcc04d"></ion-icon><b> Personas</b>

                            </ion-col>
                            <ion-col col-4>

                                <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d"></ion-icon><b> Fecha</b>

                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-4>
                                {{ reservacion.hora }}
                            </ion-col>
                            <ion-col col-4>
                                {{ reservacion.numPersonas }}
                            </ion-col>
                            <ion-col col-4>
                                {{ reservacion.fechaR | date : 'dd/MM/yyyy'}}
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <!-- <button (click)="consultaReservacion(reservacion.idReservacion)"> -->
                            <br>
                            <br>
                            <ion-col col-12 text-center>
                                <!-- <button class="btn" (click)="consultaReservacion(reservacion.idReservacion)">Detalles
                                </button> -->
                                <br>
                                <button ion-button block round class="btnDetalle" (click)="consultaReservacion(reservacion.idReservacion)">Detalles</button>
                            </ion-col>
                            <br>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <br>
            </ion-card>
        </div>
        <!-- COMPARTIDAS -->

        <div *ngIf="reservacion.estatus == 'CreadaCompartida'" class="espacio">

            <div class="loader"></div>

            <ion-card class="color1">
                <br>
                <ion-row>
                    <ion-col col-12 text-center>
                        <ion-row>

                            <ion-col col-12>

                                <div text-center>

                                    <!-- <ion-icon style="font-size: 4.5rem; color: #FFC149;" ios="ios-people"
                                            md="md-people"></ion-icon> -->

                                    <div align="center">

                                        <img class="imagen_perfil" src="{{ (reservacion.idUsuario | getNameUser | async)?.photoURL }}" />

                                    </div>

                                </div>

                            </ion-col>

                            <ion-col col-12>

                                <b style="text-transform: uppercase">{{ (reservacion.idUsuario | getNameUser | async)?.displayName }}</b>
                                <p style="font-size: 9px;">(Reservación tipo compartida)</p>

                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row><br>

                <hr size="50px">
                <br>
                <ion-row>
                    <ion-col col-12 text-center>
                        <ion-row>
                            <ion-col col-4>

                                <ion-icon ios="ios-time" md="md-time" item-start style="color: #fcc04d"></ion-icon><b>
                                    Hora</b>

                            </ion-col>
                            <ion-col col-4>

                                <ion-icon ios="ios-checkmark" md="md-checkmark" item-start style="color: #fcc04d">
                                </ion-icon><b> Personas</b>

                            </ion-col>
                            <ion-col col-4>

                                <ion-icon ios="ios-calendar" md="md-calendar" item-start style="color: #fcc04d">
                                </ion-icon><b> Fecha</b>

                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-4>
                                {{ reservacion.hora }}
                            </ion-col>
                            <ion-col col-4>
                                {{ reservacion.numPersonas }}
                            </ion-col>
                            <ion-col col-4>
                                {{ reservacion.fechaR | date : 'dd/MM/yyyy' }}
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <!-- <button (click)="consultaHistorial(reservacion.idReservacion)"> -->
                            <br>
                            <br>
                            <ion-col col-12 text-center>
                                <!-- <button class="btn" (click)="consultaReservacion(reservacion.idReservacion)">Detalles
                                </button> -->
                                <br>
                                <button ion-button block round class="btnDetalle"
                                    (click)="consultaReservacion(reservacion.idReservacion)">

                                    Detalles

                                </button>
                            </ion-col>
                            <br>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <br>
            </ion-card>
        </div>
    </div>

</ion-content>