<ion-header>

    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>

                <div *ngIf="_sucursal?.type == 'a' || _userEmpleado?.type == 'master'">

                    <div class="AdminEvento" (click)="goPerfilSucursal(_sucursal.uid)">
                        {{ _sucursal?.displayName }}
                    </div>

                </div>
  
                <div class="centrart" *ngIf="_userEmpleado?.type == 'rp'">

                    <p>{{ _userEmpleado?.displayName }} </p>

                </div>

            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>

          <ion-col>

            <ion-list>
                
                <div *ngIf="_sucursal?.type == 'a'">
                    <button ion-item (click)="goPerfilSucursal(_sucursal.uid)">
                       <p><ion-icon ios="ios-cog" md="md-cog" style="color: #FD9530"></ion-icon> Config.</p>
                    </button>
                </div>

                <div *ngIf="_userEmpleado?.type == 'e' || _userEmpleado?.type == 'master' ">

                    <button ion-item (click)="goPerfilEmpleado(_userEmpleado.uid)">
                        <p><ion-icon ios="ios-cog" md="md-cog" style="color: #FD9530"></ion-icon> Config.</p>
                     </button>

                </div>
              </ion-list>

          </ion-col>

          <ion-col >

            <button ion-item (click)="salir()">
                <p> <ion-icon ios="ios-exit" md="md-exit" style="color: #FD9530"></ion-icon> Cerrar sesión</p>
            </button>

          </ion-col>
        </ion-row>
    </ion-grid>

    <!-- header -->

    <ion-row>

        <ion-col col-4></ion-col>

        <ion-col col-4 align="center">
            <img src="./assets/imgs/logo-negro.png" alt="">
        </ion-col>

        <ion-col col-4>
            <!-- TAL VEZ UN CERRAR SESION             -->
        </ion-col>

    </ion-row>

        <div class="bienvenido">
            <h3 style="color: #000;">¡Bienvenido {{ _userEmpleado?.displayName }}!</h3>
        </div>

    <br>

    <!-- CUERPO -->


    <ion-card padding>

        <ng-container *ngIf="_sucursal || _userEmpleado?.type == 'coordinacion' || _userEmpleado?.type == 'rp'">

            <div align="center">

                <img class="imagen_perfil" src="../assets/imgs/icons/home-03.png" />

            </div>

            <ion-card-content align="center">

                <ion-card-title>
                    <h2 style="color: #FD9530;">Reservaciones en curso</h2>
                </ion-card-title>

                <div align="center">

                    <ion-badge style="color: white;">{{totalReservaciones}} Aceptadas</ion-badge>

                </div>
            </ion-card-content>

            <ion-item>
                <ion-icon ios="ios-fastforward" md="md-fastforward" style="color: #fcc04d"></ion-icon>
                Reservaciones próximas
                <ion-badge class="buttonColor" item-end (click)="goMonitorear('home')">
                    <ion-icon ios="ios-search" md="md-search" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item>
                <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon>
                Reservaciones en curso
                <ion-badge class="buttonColor" item-end (click)="goMonitorearCurso('home')">
                    <ion-icon ios="ios-search" md="md-search" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <hr>

        </ng-container>

        <!-- ADMINISTRADOR DE SUSCURSAL -->

        <div *ngIf="_sucursal?.type == 'a' || _userEmpleado?.type == 'coordinacion'">


            <div align="center" style="padding: 10px;">

                <div align="center" padding>

                    <img class="imagen_perfil" src="../assets/imgs/icons/restaurante-10.png" />

                </div>

                <ion-icon ios="ios-list" md="md-list" item-start style="color: #FD9530"></ion-icon>
                <font size="3" color=""> <b> Accesos para administrar </b></font>

                <br>

            </div>

            <ion-item (click)="goMonitorearCurso('home')">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono4.png">

                Administración de usuarios
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goEventos()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono3.png">
                Administrar eventos
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goReservacion()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono3.png">

                Reservaciones
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item>
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono3.png">

                Administrar Croquis
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goCorteHistorial(this.sucursal)">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono3.png">

                Cortes
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

        </div>
        
        <!-- ADMINISTRADOR MASTER  -->

        <div *ngIf="_userEmpleado?.type == 'master'">

            <ion-item (click)="goSucursal()">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono1.png">
                Sucursales registradas
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

            <ion-item (click)="goListaUsuariosEmpleados('master')">
                <!-- <ion-icon ios="ios-play" md="md-play" style="color: #fcc04d"></ion-icon> -->
                <img item-start class="imgRes4" src="./assets/content/icono2.png">
                Usuarios registrados
                <ion-badge class="buttonColor" item-end>
                    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" style="color:white"></ion-icon>
                </ion-badge>
            </ion-item>

        </div>

    </ion-card>
        
</ion-content>
