<!--
  Generated template for the AdminUserUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar  hideBackButton >
      <ion-row>

        <ion-col col-1>
            <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon>
              </ion-col>
          <ion-col col-8>
            <ion-title>Usuarios</ion-title>
          </ion-col>
      </ion-row>
      
    </ion-navbar>

</ion-header>


<ion-content class="">

    <div align="center">
        <img src="../assets/imgs/logo-negro.png" alt="">

    </div>
    <ion-card-header color="">Lista de usuarios</ion-card-header>
    <div *ngFor="let user of users">

        <ion-list *ngIf="user.type == 'u' " class="">
            <div (click)="selectUsuario(user.uid)">

                <ion-row>
                    <ion-col col-3>
                        <!-- <img src="{{user.photoURL}}?type=large&width=720&height=720" style="margin-top:-15px;width:90%;border-radius:50%;margin-left: 10px;"> -->
                        <div *ngIf="user.provider == 'facebook'">
                            <div *ngIf="user.status_foto == 0">
                                <img src="{{user.photoURL}}" style="width:40%;border-radius:50%;">
                            </div>
                            <div *ngIf="user.status_foto == 1">
                                <img src="{{user.photoURL}}" style="width: 38px;height: 41px;border-radius: 50%;margin-top: 7px;margin-left: -58px;">
                            </div>
                        </div>
                        <div *ngIf="user.provider == 'google'">
                            <div *ngIf="user.status_foto == 0">
                                <img src="{{user.photoURL}}?type=large&width=720&height=720"
                                    style="width:85%;border-radius:50%;">
                            </div>
                            <div *ngIf="user.status_foto == 1" align="center">
                                <img src="{{user.photoURL}}"
                                    style="width: 38px;height: 41px;border-radius: 50%;margin-top: 7px;margin-left: -58px;">
                            </div>
                        </div>
                    </ion-col>

                    <ion-col col-6>
                        <p class="p"> <b>{{ user.displayName }}</b> </p>
                        <ion-badge *ngIf="user.active == false " class="fon" item-end>Inhabilitado</ion-badge>
                        <!-- <p class="p">{{ user.uid }}</p> -->
                    </ion-col>
                </ion-row>



            </div>
        </ion-list>
    </div>
</ion-content>